on: [pull_request]
name: PR Checks
jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: markdown-link-check
      uses: ./
      with:
        check-modified-files-only: 'yes'
        base-branch: 'main'
      id: markdown-link-check
    - name: display errors
      run: |
          echo "${{ steps.markdown-link-check.outputs.MLC_OUTPUT }}"

  markdown-link-check-folders:
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: markdown-link-check
      uses: ./
      with:
        # Add a test to restrict the test to just dir4 and dir5.
        folder-path: './md/dir4, ./md/dir5'
        file-path: './md/AdditionalFileTest1.md, ./md/AdditionalFileTest2.md'
  shellcheck:
    runs-on: [ubuntu-latest]
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: 'bewuethr/shellcheck-action@80bac2daa9fcf95d648200a793d00060857e6dc4' # v2.3.0
